PINATA_KEY=2ddfe652b00089014341
PINATA_SECRET=16993d0299d2f0e45d00a326dfa04d5982732d834c21cfbd937f591b3429680d
CONTRACT_ADDRESS=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxMDhhN2ZiNS01MTNlLTQ1NjUtYjYxNy05ZWQ5YTAwZTZjYWEiLCJlbWFpbCI6ImdpcmlkaGFybWFyYWoyNEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMmRkZmU2NTJiMDAwODkwMTQzNDEiLCJzY29wZWRLZXlTZWNyZXQiOiIxNjk5M2QwMjk5ZDJmMGU0NWQwMGEzMjZkZmEwNGQ1OTgyNzMyZDgzNGMyMWNmYmQ5MzdmNTkxYjM0Mjk2ODBkIiwiZXhwIjoxODA4Mzc2MTMzfQ.-xiU6EVZlJwoZJCiSHV0Nwg2bDsiM8Gj28asx_piywI
